*{
    margin: 0;
    padding: 0;
}

h1{
  color: red;
}

body{
  color:blue;
  padding: 12px;
}

.new_class{
  padding: 40px;
  margin: 2px;
  font-size: 20px;
}

.new_class h1{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32;
}